---
import Principios from "@/components/Principios.astro";
import SocialMedia from "@/components/SocialMedia.astro";
import Welcome from "@components/Welcome.astro";
import Prefooter from "@components/Prefooter.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="La Libertad Avanza">
  <Welcome />
  <main>
    <Principios />
    <SocialMedia />
  </main>
  <Prefooter />
</Layout>
