---
const { class: className } = Astro.props;
---

<a
  title="Sumate a La Libertad Avanza"
  aria-label="Afiliarse a La Libertad Avanza"
  class={`${className} bg-slate-900 afiliation-btn hover:bg-[#393279] flex flex-row w-fit items-center gap-4 rounded-full select-none text-white px-8 border border-transparent transition-colors duration-300`}
  href="/sumate"
  ><span
    class="montserrat uppercase font-extrabold lg:font-bold text-4xl lg:text-3xl leading-[4rem] lg:leading-[4rem]"
    >Sumate</span
  >
  <div class="icon p-1 bg-white rounded-full">
    <svg
      width="24"
      height="25"
      viewBox="0 0 24 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M20.717 13.56C20.9979 13.2788 21.1556 12.8975 21.1556 12.5C21.1556 12.1025 20.9979 11.7213 20.717 11.44L15.061 5.781C14.7796 5.49961 14.3979 5.34152 14 5.34152C13.602 5.34152 13.2204 5.49961 12.939 5.781C12.6576 6.0624 12.4995 6.44405 12.4995 6.842C12.4995 7.23996 12.6576 7.62161 12.939 7.903L16.035 11H4.49996C4.10213 11 3.72061 11.158 3.4393 11.4393C3.158 11.7206 2.99996 12.1022 2.99996 12.5C2.99996 12.8978 3.158 13.2794 3.4393 13.5607C3.72061 13.842 4.10213 14 4.49996 14L16.035 14L12.939 17.096C12.7996 17.2353 12.6891 17.4007 12.6137 17.5828C12.5383 17.7648 12.4995 17.96 12.4995 18.157C12.4995 18.354 12.5383 18.5492 12.6137 18.7312C12.6891 18.9133 12.7996 19.0787 12.939 19.218C13.0783 19.3573 13.2437 19.4679 13.4258 19.5433C13.6078 19.6187 13.8029 19.6575 14 19.6575C14.197 19.6575 14.3921 19.6187 14.5742 19.5433C14.7562 19.4679 14.9216 19.3573 15.061 19.218L20.717 13.56Z"
        fill="#393279"></path></svg
    >
  </div>
</a>

<style>
  .icon {
    animation: move 1s ease infinite alternate;
  }

  @keyframes move {
    to {
      transform: translateX(10px);
    }
  }
</style>
