---
import BtnSumate from "./BtnSumate.astro";
---

<section class="relative h-screen flex justify-center items-center">
  <img
    class="w-screen h-screen object-cover"
    src="/src/imgs/milei-balcon-hd.webp"
    alt=""
  />
  <BtnSumate class="absolute bottom-10 lg:bottom-36" />
</section>
